.stock_strong{
   font-size: 20px;
}

#price{
       font-size: 19px; 


}

#symbol{
    font-size: 19px;
}

#name{
       font-size: 19px; 


}

#link{
       font-size: 19px; 


}